@import "variables";

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: $common-red !important;
}

.aba-container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    

    .aba-content{
        width: 70%;
        height: 100%;
        padding: 10px;

        .aba-content-item{
            width: 100%;
            height: 570px;
            margin-top: 5px;
            
            .item-li{
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                list-style: none;
                font-size: 16px;
                padding: 5px 5px;
                margin-top: 5px;


                &:hover{
                    background-color: wheat;
                }

                .fa-folder{
                    font-size: 25px;
                    color: yellow;
                    margin-right: 5px;
                }
            }
        }

        .navi{
            display: flex;
            border-bottom: 1px solid gray;

            i{
                margin-right: 5px;

                &.fa-solid.fa-house{
                    color: yellow;
                    font-size: 16px;
                }
                
            }
        }

        .aba-add{
            position: fixed;
            right: 5%;
            top: 60%;
            width: 30px;
            height: 30px;
            background-color: blue;
            z-index: 9999;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;

        }

        .aba-add.calendar{
            top: 58%;
        }
    }
}



@media (max-width: 768px) {
    .aba-container {
        .aba-content {
            width: 100%;

            .modal {
                width: 100%;
                .modal-content{
                    width: 96%;
                }
            }
        }
    }
}
